includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    treatPhpDocTypesAsCertain: false
    level: 8
    paths:
        - .
    excludePaths:
        - DependencyInjection/Configuration.php
        - Resources
        - spec
        - vendor
